<h1>Eat Da Burger!</h1>

<h3>Click to the devour button to devour the burger.</h3>
<h3>Add burgers to the menu with the input box on the bottom.</h3>
<hr>

<h3>To be devoured:</h3>
<ul>
  {{#each burgers}}
  {{#unless devoured}}

  <li>
    <p>{{this.burger_name}} <button class="change-status">DEVOUR</button></p>
  </li>
  {{/unless}}
  {{/each}}


</ul>

<hr>

<h3>Devoured:</h3>
<ul>
  {{#each burgers}}
  {{#if devoured}}

  <li>
    <p>{{this.burger_name}} </p>
  </li>
  {{/if}}
  {{/each}}
</ul>



<hr>

<form action="/" method="POST">
  <textarea type="text" name="burger_name"></textarea>

  <button type="submit">Add Burger</button>
</form>


<script type="text/javascript">


  $(".change-status").on("click", function (event) {
    event.preventDefault(),
     var id = $(this).attr("id")
    console.log(id)
    $.ajax("/api/update/" + id, {
      type: "POST",
      data: id
    })
      .then(
        function () {
          location.reload();
        })
      .catch(
        function (err) {
          if (err) throw err;
        }
      )
  });



</script>